.dark {
  --ls-main-content-background: black;
}

html body {
  background-color: black;
}

.left-sidebar-inner {
  background-color: black;
}

#right-sidebar .cp__right-sidebar-topbar {
  background-color: black !important;
}

#right-sidebar-container {
  background-color: black !important;
}

.sidebar-item {
  background-color: black !important;
}

#logseq-tabs_lsp_main {
  background-color: black !important;
}
